
*{
    font-family: 'Nunito', sans-serif;
}
li {
    list-style-type: none;
}

h1 {
    font-weight: bold;
}

#text {
    color:red;
}

ul {
    
    text-align: left;
    width: 50%;
}

.delete {
    background-color: #f76b00;
    margin-left: 20px;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
    height: 20px;
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    
    
}

#feladat {
    width: 90%;
}

::placeholder {
    color: lightgrey;
   
}


div {
   text-align: center;
    width: 50%;
    border:  1px solid lightgray;
    padding: 0 30px;
    background-color: #f5f5f5;
    
}

form > button {
    background-color: #f7b500;
    width: 100px;
    margin-top: 20px;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
   
}

.inputcheck {
    color: red;
}



